{% extends 'base.html' %}
{% load static %}

{% block title %}나만의 서재 - 책 세부사항{% endblock %}
{% block link %}{% static 'css/detail.css' %}{% endblock %}
<!doctype html>
<html lang="en">

{% block content %}
<div class="container">
    <div id="designer" class="row featurette">
        <div class="col-md-6">
            <h2 class="featurette-heading">{{ designer.name }}<span id="namedeco" class="text-muted">책 제목</span></h2>
            <h5 class="featurette-heading">"{{ designer.address }}"에서 구입했습니다.</h5>
            <p class="lead">{{ designer.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="{{ designer.image.url }}" width="150%" alt="Designer_Profile_Image">
        </div>
    </div>
</div>
{% endblock %}